html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  min-height: 100%;
}

body {
  background: #FFE8AC;;
  display: flex;
  flex-direction: column;
  margin:0;
}
nav{
  position: fixed;
  background: #5CB823;
  width: 100%;
  height: 130px;
  top: 0;
}

.menu_bar{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  width: 80%;
}

.phrase{
  margin: 15%;
  padding: 30px;
  padding-top: 40px;
  margin-bottom: 3%;
  margin-top:10%;
  height: 100%;
  background-color: rgba(14, 223, 66, 0.404);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.menu_text{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 51px;
  text-decoration: none;
  color: #E5E5E5;
  text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.menu_text_small{
  font-family: 'Jacques Francois';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-decoration: none;
}

.header_text{
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-decoration: none;
  color: #005521;
}

.icon{
  width: 160px;
  height: 160px;
}

.img_medium{
  width: 80%;
}